
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/project.pbxproj
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/project.xcworkspace/contents.xcworkspacedata
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/project.xcworkspace/xcuserdata/u.xcuserdatad/UserInterfaceState.xcuserstate
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/xcuserdata/u.xcuserdatad/xcschemes/xcschememanagement.plist
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/project.xcworkspace/xcuserdata/u.xcuserdatad/UserInterfaceState.xcuserstate
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/xcuserdata/u.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
l7_BurdinDenis/l7_BurdinDenis.xcodeproj/project.xcworkspace/xcuserdata/u.xcuserdatad/UserInterfaceState.xcuserstate
